.app_light_theme {
    --bg-color: #d3d3d3;
    --inverted-bg-color: #080838;
    --primary-color: #010857;
    --secondary-color: #2d04e0;
    --inverted-primary-color: #049684;
    --inverted-secondary-color: #04ff04;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
