.app.light {
    --bg-color: #d3d3d3;
    --inverted-bg-color: #080838;

    --primary-color: rgb(1, 8, 87);
    --secondary-color: #2d04e0;
    --inverted-primary-color: #049684;
    --inverted-secondary-color: #04ff04;
}
